{:pom {:group-id "org.danielsz",
       :artifact-id "mtproto-api",
       :version "0.1.0",
       :name "mtproto-api"},
 :packaging {:uberjar {:enabled true,
                       :build-properties {:main-class "mtproto_api.core"},
                       :remote-repository {:id "ssh-repository"
                                           :url "scpexe://danielsz@reuben.tuppu.net:/home/danielsz/.m2/repository"},
                       :excludes {:artifacts ["org.clojure:google-closure-library"],
                                  :filters ["META-INF/*.MF" "META-INF/*.SF" "META-INF/*.DSA" "META-INF/*.RSA"]}
                       :include-source false,
                       :obfuscation {:enabled false},
                       :graalvm {:enabled false
                                 :with-https false
                                 :bin-name ""}
                       :resources {:cljs {:enabled true,
                                          :tools-deps-alias :cljs
                                          :compiler-opts {:infer-externs true,
                                                          :optimizations :advanced,
                                                          :parallel-build true,
                                                          :verbose false,
                                                          :aot-cache true,
                                                          :output-to "js/mtproto-api.js",
                                                          :output-wrapper true,
                                                          :foreign-libs [],
                                                          :main "mtproto-api.core"}}
                                   :css {:enabled false
                                         :css-source-include "**"
                                         :css-source-exclude "**/*.min.css"
                                         :css-final-file "styles.css"
                                         :web-app-source-dir "resources"
                                         :css-source-dir "css"}
                                   :images {:enabled false
                                            :png {:dirs []}
                                            :jpg {:dirs []}}}},
             :jar {:enabled false,
                   :remote-repository {:id "clojars", :url "https://clojars.org/repo"}}},
 :testing {:enabled false, :tools-deps-alias :test},
 :scm {:enabled false},
 :interactive {:enabled true,
               :reload-on-save true,
               :tools-deps-alias :repl,
               :repl-port :auto,
               :repl-host "127.0.0.1",
               :system {:enabled true
                        :var "mtproto-api.system/base"
                        :restart-on-change ["handler.clj" "system.clj"]}
               :cljs {:enabled true,
                      :with-repl false,
                      :compiler-opts {:infer-externs true,
                                      :output-dir "target/classes/js/compiled",
                                      :optimizations :none,
                                      :parallel-build true,
                                      :verbose true,
                                      :aot-cache true,
                                      :output-to "target/classes/js/mtproto-api.js",
                                      :asset-path "/js/compiled",
                                      :output-wrapper true,
                                      :watch "src/cljs",
                                      :source-map true,
                                      :foreign-libs [],
                                      :main "mtproto-api.core"},
                      :tools-deps-alias :cljs},
               :figwheel {:enabled false,
                          :tools-deps-alias :figwheel
                          :main {:watch-dirs ["src/cljs"], :open-url false},                          
                          :build {:main "mtproto-api.core",
                                  :foreign-libs [],
                                  :output-dir "target/classes/js/compiled",
                                  :output-to "target/classes/js/mtproto-api.js",
                                  :asset-path "/js/compiled",
                                  :output-wrapper true,
                                  :aot-cache true,
                                  :infer-externs true}}},
 :profiles {:enabled true
            :development {:http-port "3285"
                          :http-host "10.0.88.2"}
            :production {:http-port "8057"
                         :http-host "10.0.88.1"
                         :repl-port "8058"
                         :repl-ip "127.0.0.1"}}}
